{% extends 'layouts/base.html.twig' %}

{% block title 'Liste Dynamique'%}

{% block body %}
	<h1>Are you facing any issues ? 😥</h1>
	{{form_start(form)}}
	{{form_widget(form)}}
	<button type="submit">Send</button>
	{{form_end(form)}}
{% endblock %}
